{% extends 'college/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'warning' %}
                <div class="alert alert-danger">  <!-- singular -->
                    <a class="close" data-dismiss="alert">×</a>
                    {{ message|safe }}
                </div>

            {% else %}
                <div class="alert alert-{{ message.tags }}">  <!-- singular -->
                    <a class="close" data-dismiss="alert">×</a>
                    {{ message|safe }}
                </div>

            {% endif %}


        {% endfor %}
    {% endif %}
    <div class="student-reg">

        <legend class="student-legend">List of all the batches</legend>


        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Batch Year</th>
                <th>Delete</th>


            </tr>
            </thead>
            <tbody>
            {% for batches in batch %}
                <tr>

                    <td>
                        <form action="{% url 'student-list' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary" name="batch"
                                    value="{{ batches.batch_name }}">{{ batches.batch_name }}</button>
                        </form>
                    </td>

                    <td>
                        <form action="{% url 'delete-batch' batches.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger" name="batch"
                                    value="{{ batches.batch_name }}">Delete
                            </button>
                        </form>
                    </td>


                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>

{% endblock %}